# Ignore everything:
/*

# But these files:
!.gitignore
!.tmux.conf

!.config/
.config/*
!.config/fish/
!.config/nvim/

#But ignore these:
.config/fish/fishd.*
.config/fish/fish_history
.config/fish/fish_variables
